.feedback-page {
}

.feedback-page-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 2px solid #c3c3c3;
}

.feedback-page-content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.feedback-page-content__left {
  flex: 1;
}
.feedback-page-content__right {
  flex: 1;
}

.feedback-page-content__middle {
  flex: 2;
  /* border: 1px solid black; */
}

.feedback-page__left-sticky {
  position: sticky;
  top: 80px;
}
.feedback-page__send-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid #c3c3c3;
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.feedback-page__send-feedback button {
  border: 0;
  border-radius: 5px;
  background: #c3c3c3;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feedback-page__send-feedback:hover button {
  color: #fff;
  background: #2ba6eeff;
}
.feedback-page__articles,
.feedback-page__featured {
  /* border: 1px solid black; */
}

.feedback-page-content__image {
  padding-bottom: 20px;
}
.feedback-page-content__image img {
  width: 100%;
  border-radius: 10px;
}
