.post-detail {
  font-size: 1.1rem;
}

.post-detail p {
  /* margin: 0 !important; */
}

.post-detail .post-detail-date {
  margin: 20px 0;
}
.post-detail .post-detail-summary {
  font-weight: 700;
}

.image-post {
  max-width: 100%;
  margin-bottom: 10px;
}

.image-post img {
}
