* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

:where(html, body) {
  overflow-x: clip;
}

.active {
  color: #c28c05 !important;
}
